div{
    background-color: royalblue;
    border:500px 500px 500px;
    border-style: solid;
    border-radius: 12px;
    border-width: 8px;
    margin: 15px;
    padding: 12px;
    box-shadow: 6px 7px salmon;
}
.hola{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#naruto{
    border: 10px 10px;
    border-style: double;
    border-radius: 20px;
    border-width: 8px;
}
/* Worked on nav */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 800; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav style  */
nav{
    display: flex;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
 #None{
    color: aqua;
 }





/* .FO{
    border: 2px solid rosybrown;
    background: saddlebrown;
    padding: 10px;
} */